[Desktop Entry]
Type=Application
Version=1.0
Name=ThroBots
Comment=A cool game and stuff
Exec=throbots
Icon=/usr/lib/throbots-linux-x64/package.nw/images/DESKTOP.png
Terminal=false
Categories=Game;
