[Desktop Entry]
Type=Application
Version=1.0
Name=ThroBots
Comment=A cool game and stuff
Exec=platformer
Icon=/usr/lib/platformer-linux-x64/package.nw/images/DESKTOP.png
Terminal=false
Categories=Game;
